[Unit]
Description=Start the SAMPLE framework

[Service]
ExecStart=/usr/bin/SAMPLE_server
Restart=always
RestartSec=1

[Install]
WantedBy=graphical.target
